{
 :sessions {}
 :users {
  "QNVm2QC1xk" {:id "QNVm2QC1xk", :name "chen", :nickname "chen", :password "d41d8cd98f00b204e9800998ecf8427e", :avatar nil}
 }
 :templates {
  "6lOwBKeFr" {
   :id "6lOwBKeFr", :name "task", :mock-pointer "rvPe9QUYN", :width "600", :height 100, :sort-key "a"
   :mocks {
    "GxVXbLuSK" {
     :id "GxVXbLuSK", :name "empty task"
     :data {:id "002", :text "", :done? false}
    }
    "rvPe9QUYN" {
     :id "rvPe9QUYN", :name "base", :template-id "6lOwBKeFr", :mock-id "rvPe9QUYN"
     :data {:id "001", :text "Demo of task", :done? false}
     :state {:data "internal state"}
    }
    "sGbCZti4P" {
     :id "sGbCZti4P", :name "done task"
     :data {:id "001", :text "Demo of task", :done? true}
    }
   }
   :markup {
    :layout :row, :type :box, :id "system"
    :children {
     "T" {
      :id "eoUAbhfcG", :type :some, :layout nil
      :props {"value" "@:done?", "kind" ":boolean"}
      :attrs {}
      :presets #{}
      :style {}
      :children {
       "T" {
        :layout nil, :type :box, :id "T"
        :children {}
        :style {"height" "40", "width" "40", "background-color" "hsl(200,70%,60%)", "cursor" "pointer"}
        :presets #{}
        :event {"click" ":toggle"}
        :attrs {}
        :props {"param" "@:id"}
       }
       "j" {
        :layout nil, :type :box, :id "T"
        :children {}
        :style {"height" "40", "width" "40", "background-color" "hsl(0,0%,90%)", "cursor" "pointer"}
        :presets #{}
        :event {"click" ":toggle"}
        :attrs {}
        :props {"param" "@:id"}
       }
      }
     }
     "b" {
      :id "b", :type :space, :layout nil
      :props {"width" "8"}
      :attrs {}
      :presets #{}
      :style {}
      :children {}
     }
     "f" {
      :type :input, :layout nil
      :props {"value" "@:text"}
      :attrs {}
      :presets #{}
      :style {}
      :children {}
      :event {"input" ":edit"}
     }
     "j" {
      :id "2iFo8DU7J", :type :some, :layout nil
      :props {"value" "@:text", "kind" ":string"}
      :attrs {}
      :presets #{}
      :style {}
      :children {
       "D" {
        :id "D", :type :box, :layout :row-middle
        :props {}
        :attrs {}
        :presets #{}
        :style {}
        :children {
         "T" {
          :id "T", :type :text, :layout nil
          :props {"value" "\"Empty"}
          :attrs {}
          :presets #{}
          :style {"color" "#aaa"}
          :children {}
         }
        }
       }
       "T" {
        :id "j", :type :box, :layout :row-middle
        :props {}
        :attrs {}
        :presets #{}
        :style {}
        :children {
         "T" {
          :id "T", :type :text, :layout nil
          :props {"value" "@:text"}
          :attrs {}
          :presets #{}
          :style {}
          :children {}
         }
        }
       }
      }
     }
     "n" {
      :id "n", :type :space, :layout nil
      :props {"width" "8"}
      :attrs {}
      :presets #{}
      :style {}
      :children {}
     }
     "p" {
      :type :input, :layout nil
      :props {"value" "#"}
      :attrs {}
      :presets #{}
      :style {}
      :children {}
      :event {"input" ":local-edit"}
     }
     "pT" {
      :type :text, :layout nil
      :props {"value" "#"}
      :attrs {}
      :presets #{}
      :style {}
      :children {}
     }
     "q" {
      :type :space, :layout nil
      :props {"width" "8"}
      :attrs {}
      :presets #{}
      :style {}
      :children {}
     }
     "r" {
      :id "r", :type :box, :layout :row-center
      :props {}
      :attrs {}
      :presets #{}
      :style {"padding" "8"}
      :children {
       "T" {
        :layout nil, :type :icon, :id "T"
        :children {}
        :style {}
        :presets #{}
        :event {"click" ":remove"}
        :attrs {}
        :props {"name" "delete", "color" "hsl(0,90%,75%)", "param" "@:id"}
       }
      }
     }
    }
    :style {"background-color" "hsl(0,0%,100%)", "border-bottom" "1px solid #eee"}
    :presets #{}
    :event {}
    :attrs {}
    :props {}
   }
  }
  "Gayfn7QMm" {
   :id "Gayfn7QMm", :name "header", :mock-pointer "zn6RdI-_2", :width 400, :height 100, :sort-key "d"
   :mocks {
    "rhrFz-MZW" {:id "rhrFz-MZW", :data "something", :name "something"}
    "zn6RdI-_2" {
     :id "zn6RdI-_2", :data "", :name "base", :template-id "Gayfn7QMm", :mock-id "zn6RdI-_2"
     :state {
      :data {:draft "DRAFt"}
     }
    }
   }
   :markup {
    :id "system", :type :box, :layout :row-middle
    :props {}
    :attrs {}
    :presets #{}
    :style {"background-color" "hsl(0,0%,100%)", "padding" "8px"}
    :children {
     "T" {
      :id "T", :type :text, :layout nil
      :props {"value" "\"My Todolist"}
      :attrs {}
      :presets #{}
      :style {"font-family" "Josefin Sans, Helvetica neue, Arial, sans-serif"}
      :children {}
     }
     "b" {
      :id "b", :type :space, :layout nil
      :props {"width" "8"}
      :attrs {}
      :presets #{}
      :style {}
      :children {}
     }
     "j" {
      :layout nil, :type :input, :id "j"
      :children {}
      :style {}
      :presets #{}
      :event {"input" ":input", "keydown" ":keydown"}
      :attrs {"placeholder" "Todo thing"}
      :props {"value" "#:draft"}
     }
     "l" {
      :type :text, :layout nil
      :props {"value" "#:draft"}
      :attrs {}
      :presets #{}
      :style {}
      :children {}
     }
     "n" {
      :id "n", :type :space, :layout nil
      :props {"width" "8"}
      :attrs {}
      :presets #{}
      :style {}
      :children {}
     }
     "r" {
      :layout nil, :type :button, :id "r"
      :children {}
      :style {}
      :presets #{}
      :event {"click" ":submit"}
      :attrs {}
      :props {"text" "\"Add task"}
     }
    }
   }
  }
  "b0VwA-0nd" {
   :id "b0VwA-0nd", :name "data", :mock-pointer "base", :width 400, :height 400, :sort-key "j"
   :mocks {
    "base" {
     :id "base", :state nil, :name "base", :template-id "b0VwA-0nd", :mock-id "base"
     :data {:data "code"}
    }
   }
   :markup {
    :type :box, :layout nil
    :props {}
    :attrs {}
    :presets #{}
    :style {"word-break" "break-all", "width" "100%", "white-space" "normal", "overflow" "auto", "background-color" "hsl(0,0%,96%)", "padding" "8px", "max-width" "600px"}
    :children {
     "T" {
      :type :text, :layout nil
      :props {"value" "@"}
      :attrs {}
      :presets #{}
      :style {"padding" "8", "font-family" "Source Code Pro, Menlo, monospace", "font-size" "12px", "color" "black", "line-height" "20px"}
      :children {}
     }
    }
   }
  }
  "dXlFkinWy" {
   :id "dXlFkinWy", :name "records", :mock-pointer "INLWqkKLk", :width 400, :height 100, :sort-key "c"
   :mocks {
    "6rprNVgQt" {
     :id "6rprNVgQt", :name "empty"
     :data []
    }
    "INLWqkKLk" {
     :id "INLWqkKLk", :name "base"
     :data [
      {:id "1", :text "demo", :done? false}
      {:id "2", :text "demo 2", :done? true}
      {:id "3", :text "demo 3", :done? false}
     ]
    }
   }
   :markup {
    :id "iEYNBfUfB", :type :some, :layout nil
    :props {"kind" ":list", "value" "@"}
    :attrs {}
    :presets #{}
    :style {}
    :children {
     "D" {
      :id "D", :type :box, :layout :row-center
      :props {}
      :attrs {}
      :presets #{}
      :style {}
      :children {
       "T" {
        :id "T", :type :text, :layout nil
        :props {"value" "\"Empty"}
        :attrs {}
        :presets #{}
        :style {"color" "#ddd", "padding" "4px", "font-family" "Josefin Sans, Helvetica neue, Arial, sans-serif"}
        :children {}
       }
      }
     }
     "T" {
      :id "system", :type :list, :layout :column
      :props {"value" "@"}
      :attrs {}
      :presets #{}
      :style {"background-color" "hsl(0,0%,100%)"}
      :children {
       "T" {
        :id "T", :type :template, :layout nil
        :props {"name" "task", "data" "@:item", "state-key" "@:item :id"}
        :attrs {}
        :presets #{}
        :style {}
        :children {}
       }
      }
     }
    }
   }
  }
  "sx519VqVn" {
   :id "sx519VqVn", :name "container", :mock-pointer "Z5Nm740ym", :width "600", :height "400", :sort-key "o"
   :mocks {
    "Z5Nm740ym" {
     :id "Z5Nm740ym", :name "base", :template-id "sx519VqVn", :mock-id "Z5Nm740ym"
     :data {
      :input "demo"
      :records [
       {:id "1", :done? false, :text "done"}
       {:id "2", :done? false, :text "text demo 2"}
      ]
     }
     :state {
      :data {}
      :header {
       :data {:draft "A 1"}
      }
     }
    }
   }
   :markup {
    :id "system", :type :box, :layout nil
    :props {}
    :attrs {}
    :presets #{}
    :style {"border" "1px solid #ddd", "padding" "8px", "margin" "8px", "background-color" "white"}
    :children {
     "T" {
      :id "T", :type :template, :layout nil
      :props {"name" "header", "data" "@:input", "state-key" ":header"}
      :attrs {}
      :presets #{}
      :style {}
      :children {}
     }
     "b" {
      :id "b", :type :divider, :layout nil
      :props {}
      :attrs {}
      :presets #{}
      :style {}
      :children {}
     }
     "f" {
      :id "f", :type :space, :layout nil
      :props {"height" "4"}
      :attrs {}
      :presets #{}
      :style {}
      :children {}
     }
     "j" {
      :id "j", :type :template, :layout nil
      :props {"name" "records", "data" "@:records", "state-key" ":records"}
      :attrs {}
      :presets #{}
      :style {}
      :children {}
     }
     "r" {
      :id "r", :type :template, :layout nil
      :props {"name" "footer", "data" "@:records"}
      :attrs {}
      :presets #{}
      :style {}
      :children {}
     }
     "v" {
      :type :template, :layout nil
      :props {"name" "\"data", "data" "@"}
      :attrs {}
      :presets #{}
      :style {}
      :children {}
     }
    }
   }
  }
  "vRpCCeaS1" {
   :id "vRpCCeaS1", :name "footer", :mock-pointer "IShnGS5HE", :width 400, :height 100, :sort-key "e"
   :mocks {
    "0jRLV6M6O" {
     :id "0jRLV6M6O", :name "empty"
     :data []
    }
    "IShnGS5HE" {
     :id "IShnGS5HE", :name "base"
     :data [2 3 4]
    }
   }
   :markup {
    :id "KJPSwckDy", :type :some, :layout nil
    :props {"value" "@", "kind" "list"}
    :attrs {}
    :presets #{}
    :style {}
    :children {
     "D" {
      :id "D", :type :box, :layout nil
      :props {}
      :attrs {}
      :presets #{}
      :style {}
      :children {}
     }
     "T" {
      :id "system", :type :box, :layout :row
      :props {}
      :attrs {}
      :presets #{}
      :style {"background-color" "hsl(0,0%,100%)", "padding" "8px"}
      :children {
       "T" {
        :layout nil, :type :button, :id "T"
        :children {}
        :style {}
        :presets #{}
        :event {"click" ":clear"}
        :attrs {}
        :props {"text" "\"Clear"}
       }
       "j" {
        :id "j", :type :space, :layout nil
        :props {"width" "8"}
        :attrs {}
        :presets #{}
        :style {}
        :children {}
       }
       "r" {
        :layout nil, :type :button, :id "r"
        :children {}
        :style {}
        :presets #{}
        :event {"click" ":archive"}
        :attrs {}
        :props {"text" "\"Archive"}
       }
      }
     }
    }
   }
  }
 }
 :settings {
  :colors {
   "-X6m1079K" {:id "-X6m1079K", :name "white", :color "white", :group "theme"}
   "31lJzBqzp" {:id "31lJzBqzp", :name "bg", :color "#eee", :group "theme"}
   "KUY3DfoK7" {:id "KUY3DfoK7", :name "black", :color "black", :group "theme"}
   "TkJUnOLJF" {:id "TkJUnOLJF", :name "red", :color "red", :group "theme"}
   "o8Sr3V6oL" {:id "o8Sr3V6oL", :name "gray", :color "#ddd", :group "theme"}
  }
 }
}